@font-face {
    font-family: 'Whiteapp';
    src: url('../fonts/Whiteapp/Whiteapp.eot');
    src: url('../fonts/Whiteapp/Whiteapp.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Whiteapp/Whiteapp.woff') format('woff'),
         url('../fonts/Whiteapp/Whiteapp.ttf') format('truetype'),
         url('../fonts/Whiteapp/Whiteapp.svg#Whiteapp') format('svg');
    font-weight: normal;
    font-style: normal;
}

.admin__menu .item-whiteapp.parent.level-0 > a:before
{
	content:'\0041' !important;
	font-family: 'Whiteapp';
	font-family: 'Whiteapp';
	transform: rotate(300deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
}
