<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Whiteapp_ShopFinder" setup_version="0.0.4" schema_version="0.0.4">
        <sequence>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
